<h2>All users</h2>
<div class="ui divider"></div>

<div class="ui items">

  <% @users.each do |user| %>
    <div class="item">
      <div class="content">
        <div class="header">
          <%= user.username %>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
  <% end %>
</div>