
<%# SIGN UP FORM %>
<h2>Sign up</h2>

<%# DISPLAY ERRORS IF NECESSARY %>
<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <div class="ui message warning">
      <%= error %>
    </div>
  <% end %>
<% end %>

<%# MAIN SIGN UP FORM %>
<form action="<%= users_url %>" method="post" class="ui form">
  <%= auth_token %>

  <label for="user_username">Username</label>
  <input type="text" id="user_username" name="user[username]">
  <br>

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">
  <br>
  <br>

  <input type="submit" value="Register" class="ui button">
</form>

<div class="ui divider"></div>

