<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to 99 Cats!</title>
</head>
<body>
  <h1>Welcome to 99 Cats, <%= @user.username %>!</h1>
  <p>  You have successfully signed up for 99Cats.<br><br>

Your username is: <%= @user.username %>.<br><br>

To login to the site, just follow this link: <%= link_to '99Cats', @url %><br><br>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum omnis hic dolorem a optio assumenda neque, ullam delectus, voluptatum, eveniet ratione aperiam odio impedit voluptate rerum et libero facilis est!</p>
</body>
</html>

  