<h1>Add a new band</h1>

<% if flash.now[:errors]%>
  <% flash.now[:errors].each do |error| %>
    <div class="ui warning message">
      <%= error %>
    </div>
  <% end %>
<% end %>

<form action="<%= bands_url %>" method="post" class="ui form">
  <%= auth_token %>

  <label for="band_name">Band name</label>
  <input type="text" name="band[name]" id="band_name">
  <br><br>
  <input type="submit" class="ui button" value="Add band">
</form>
