

.search_modal__container {
  background-color: white;
  z-index: 9999999;
  display: block;
  width: 100vw;
  position: absolute;
  left: 0;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,.6);
  position: absolute;
  z-index: 999999;
}

#search-modal {
  display: none;
  z-index: 99999999;
  box-shadow: 5px 5px 20px rgba(0,0,0,.1);  
}

#search-modal.expand {
  display: block;
}

.search-modal__inner {
  max-width: 900px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.search-modal__close-btn {
  // background-color: $light-gray;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  color: $gray;
  cursor: pointer;
}

.search-modal__form {

}

.search-modal__form-field {
  background-color: white;
  padding: 8px 20px;
  width: 500px;
  border: 1px solid $gray;
}

.search-modal__form-btn {
  padding: 8px;
  background-color: white;
  border: 1px solid $gray;
  font-family: $sans-serif;
  border-radius: 3px;  

}