<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99cats.com, <%= @user.user_name %></h1>
    <p>
      You have successfully signed up to 99cats.com,
      your username is: <%= @user.user_name %>.<br />
    </p>
    <p>
      To login to the site, just follow this link: <a href="localhost:3000/cats">99Cats</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>