.col {
  // ...
  float: left;
  box-sizing: border-box;
}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  // ...
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  // ...
  padding-right: 0
}

.col-1-12 {
  width: 8.333%;
}

.col-2-12 {
  width: 16.666%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.333%;
}

.col-5-12 {
  width: 41.666%;
}

.col-12-12 {
  width: 100%;
}

.col-6-12 {
  width: 50%;
}



@media all and (max-width: 1000px) {
  [class*='col-'] {
    width: 100%;
  }

  .main_content {
    flex-direction: column;
  }

  .main_content__video {
    margin: 1rem 0;
  }

  .main-nav .right-nav button {
    display: none;
  }
}
