body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-Sans', sans-serif;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
}


/* CLOCK */
.main {
  padding: 1rem;
  border: 2px solid black;
}

.main_clock {
  background-color: orange;
}

.clock_time,
.clock_date {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 1rem;
  color: white;
  font-weight: bold;
}

/* WEATHER */













/* TABS */
.main_tabs {
  background-color: greenyellow;
}

.tab_header {
  cursor: pointer;
}












/* AUTOCOMPLETE */