<h1>All bands</h1>
<div class="ui divider"></div>


  <div>
    <% @bands.each do |band| %>
    <div class="ui button"> 
      <%= link_to band.name, band_url(band) %>
    </div>
    <% end %>
  </div>


