<section class="main_content">
  <section class="main_content__headline col-3-12">

    <article>
      <a href="#" class="main_headline">Launching the New React/Redux Curriculum</a>
      <p class="author_by_tag">By APP ACADEMY INSTRUCTIONAL TEAM</p>

      <ul class="list_bulleted">
        <li>
          It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
        </li>
        <li>
          The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
        </li>
      </ul>

      <a href="#" class="link--blue-underline">1738 Comments</a>
    </article>
    
  </section>

  <section class="main_content__video col-5-12">
    <article class="main_content__video-highlight">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
      <p class="text--normal">
        Warning: This video will make you want to change your career
      </p>
      <div class="hr-bottom"></div>
    </article>

    <article class="main_content__video-article">
      <a href="#" class="header--normal-underline">
        Where Are They Now?        
      </a>
      <p class="author_by_tag">
        By APP ACADEMY ALUMNI
      </p>
      <p class="text--normal">
        First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
      </p>
    </article>

    <div class="hr-bottom"></div>

    <article class="main_content__video-article">
      <a href="#" class="header--normal">
        Cat Academy     
      </a>
      <p class="author_by_tag">
        By APP ACADEMY DIRECTOR OF PRODUCTS        
      </p>
      <p class="text--normal">
        App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
      </p>
    </article>

  


  </section>
    
  <section class="main_content__opinion col-4-12">
    <a href="#" class="header--normal main_content__opinion-title">
      The Opinion Pages
    </a>

    <div class="main_content__opinion-main col-12-12">
      <article class="col-6-12">
      <p class="pre-header--normal">OP-ED CONTRIBUTOR</p>
        <a href='#' class="header--normal-underline"">
          Will Javascript ever be as easy as Ruby?
        </a>
        <p class="text--normal">
          Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
        </p>
        <ul class="list-bulleted--small">
          <li>Torvalds: When I Was Almost Wrong</li>
          <li>Knuth: Art of Programming</li>
          <li>Lovelace: The First Algorithm</li>
          <li>Hopper: The First Bug</li>
          <li>Thompson: Go C Unix</li>
          <li>Carmack: My Virtual Reality</li>
          <li>Stallman: Free Speech Not Free Coffee</li>
        </ul>
      </article>

      <article class="col-6-12">
        <p class="pre-header--normal">OPERATIONS</p>
        <a href='#' class="header--normal-underline"">
          App Academy New York Has A Brand New Office
        </a>
        <p class="author_by_tag">
          By NY OPERATIONS
        <p>
        <p class="text--normal">
          The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
        </p>
        <div class="image_container image_article--small">
          <img src="assets/new_office.jpg" alt="New Office">
        </div>
      </article>
    </div>

    <section class="main_content__opinion-newsletter col-12-12">
      <h2 class="header--normal">
        Opinion Today, in your Inbox
      </h2>
      <p class="text--normal">
        Each weekday, get though-provoking commentary from our columnists and contributors.
      </p>

      <form action="POST" class="form--normal">
        <input type="email" placeholder="Get the Opinion newsletter by email" class="text-input--normal">
        <input type="submit" value="SIGN UP" class="form-btn--normal">
      </form>
      <p class="content--small-light">
        We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
      </p>

    </section>
    
        
  </section>
</section>




    
    

        