

<section class="search_modal__container">
  <div id="search-modal">
    <div class="search-modal__inner">
      <form action="post" class="search-modal__form">
        <input type="text" placeholder="Enter search.." class="search-modal__form-field">
        <input type="submit" value="GO" class="search-modal__form-btn">
      </form>
      <i class="fas fa-times-circle search-modal__close-btn close"></i>
      
    </div>
  </div>
  <div id="overlay" class="overlay hidden"></div>
</section>