


<section id="sections-sidebar">
  <nav class="section-sidebar__container">
    <ul>
      <li><a href="#" class="section-sidebar__container__link">World</a></li>
      <li>
        <a href="#" class="section-sidebar__container__link dropdown">San Francisco</a>
        <section class="dropdown_menu">
          <ul>
            <li><a href="#">Students</a></li>
            <li><a href="#">Teaching Assistants</a></li>
            <li><a href="#">Instructors</a></li>
            <li><a href="#">Career Advisors</a></li>
            <li><a href="#">Cats</a></li>
          </ul>
        </section>
      </li>
      <li><a href="#" class="section-sidebar__container__link">New York</a></li>
      <li>
        <a href="#" class="section-sidebar__container__link dropdown">Bootcamp Prep</a>
        <section class="dropdown_menu">
          <ul>
            <li><a href="#">Students</a></li>
            <li><a href="#">Instructors</a></li>
            <li><a href="#">Cats</a></li>
          </ul>
        </section>
      </li>
      <li><a href="#" class="section-sidebar__container__link">Jumpstart</a></li>
      <li>
        <a href="#" class="section-sidebar__container__link dropdown">Online</a>
        <section class="dropdown_menu">
          <ul>
            <li><a href="#">Immersive</a></li>
            <li><a href="#">Bootcamp Prep</a></li>
            <li><a href="#">Cats</a></li>
          </ul>
        </section>
      </li>
      <li><a href="#" class="section-sidebar__container__link">Marketing</a></li>
      <li>
        <a href="#" class="section-sidebar__container__link dropdown">Sales</a>
        <section class="dropdown_menu">
          <ul>
            <li><a href="#">Associates</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Cats</a></li>
          </ul> 
                </section>
      </li>
      <li><a href="#" class="section-sidebar__container__link">TalentMatch</a></li>
      <li>
        <a href="#" class="section-sidebar__container__link dropdown">Alumni</a>
        <section class="dropdown_menu">
          <ul>
            <li><a href="#">Students</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Opinions</a></li>
            <li><a href="#">Cats</a></li>
          </ul>      
            </section>
      </li>
      <li><a href="#" class="section-sidebar__container__link section-sidebar__container__link--underline">All</a></li>
    </ul>
  </nav>
</section>











