


<section class="section-nav">
  <nav class="section-nav__container">
    <ul>
      <li><a href="#" class="section-nav__link">World</a></li>
      <li><a href="#" class="section-nav__link">San Francisco</a></li>
      <li><a href="#" class="section-nav__link">New York</a></li>
      <li><a href="#" class="section-nav__link">Bootcamp Prep</a></li>
      <li><a href="#" class="section-nav__link">Jumpstart</a></li>
      <li><a href="#" class="section-nav__link">Online</a></li>
      <li><a href="#" class="section-nav__link">Marketing</a></li>
      <li><a href="#" class="section-nav__link">Sales</a></li>
      <li><a href="#" class="section-nav__link">TalentMatch</a></li>
      <li><a href="#" class="section-nav__link">Alumni</a></li>
      <li><a href="#" class="section-nav__link section-nav__link--underline">All</a></li>
    </ul>
  </nav>
</section>

















